.poke-container {
  z-index: -1;
  display: flex;
  justify-content: center;
  background-image: url(img/favicon.png);
  background-position: 50%;
  background-attachment: fixed;
  border-radius: 10px;
}

.pokedex-details {
  z-index: 1;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #1e1e1e;
}
.poke-background {
  z-index: 0;
  opacity: 0.1;
  width: 220%;
  position: absolute;
}

.header-details {
  margin: 0 0.5rem 0;
  position: relative; /* Isso é necessário para que o filho com position:absolute seja relativo a este elemento */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 50px 50px;
  color: white;
}

.header-details img {
  z-index: 1;
}
.header-details .back {
  margin-bottom: 7.5rem;
  background: none;
  border: none;
}
.seta {
  margin: 2px;
  transform: rotate(45deg);
  position: absolute;
  padding: 5px;
  box-shadow: 1px -1px 0 1px #000 inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
}
.header-details .background {
  z-index: 0;
  position: absolute;
  left: 50%;
  width: 18rem;
  opacity: 0.5;
  transform: rotate(30deg);
}
.header-details .poke-number {
  margin-right: 1rem;
  font-size: x-large;
  margin-bottom: 7.5rem;
}
.pokemon-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.name-details {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 0;
}
.poke-medidas {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.pokemon-info h1 { 
  text-transform: capitalize;
}

.types-details {
  margin-right: 2rem;
  display: inline-flex;
  justify-content: center;
}

.type-details {
  z-index: 1;
  justify-content: center;
  list-style: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 15px;
  text-transform: capitalize;
}

.poke-details {
  justify-content: space-around;
  z-index: 1;
  display: flex;
  align-items: center;
}
.poke-details p {
  z-index: 1;
  color: #ccc;
  border-radius: 1rem;
  margin: 1rem;
  padding:0.5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 5px black solid;
}
.poke-details ul{
    z-index: 1;
    color: #ccc;
    border-radius: 1rem;
    margin: 1rem;
    padding:0.5rem;
    background: rgba(0, 0, 0, 0.5);
    border: 5px black solid;
  }
.poke-details h3{
  margin: 0;
}
.poke-details li {
  list-style: none;
}
h2 {
  z-index: 1;
  text-align: center;
  color: white;
  border: 5px black solid;
  border-radius: 1rem;
  margin: 0 5rem 0;
  background: rgba(0, 0, 0, 0.9);
}
.baseStatsContainer {
  z-index: 1;
  display: flex;
  justify-content: baseline;
  align-items: flex-start; /* Alterado para alinhar ao topo */
  border: 5px black solid;
  border-radius: 1rem;
  margin:1rem;
  background: rgba(0, 0, 0, 0.9);
}
.statsBar{
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
}
.pokeStatusDetail {
  color: white;
  margin: 10px;
  text-align: left;
  text-transform: uppercase;
  width: 150px; 
}

.statsNumber {
  width: 100%;
}

.progress-bar {
  overflow: hidden;
  z-index: 1;
  margin: 10px -10px; /* Ajustado para remover margens laterais */
  padding-left: 5px;
  background-color: #327434;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
}
